<div>
	<img class="hero-image" src="https://placekitten.com/g/1000/500">
</div>
<div class="container">
	<div class="method-page col-sm-12 text-center" >
		<div class="section" ng-repeat="method in methods" > 
			<img class="card-image" ng-src="{{method.imgUrl}}">
			<div class="section-info col-sm-4 text-left" style="background-color: rgb(255, 1, 1);">
				<h3>{{method.title}}</h3>
			</div>
		</div>	
	</div>	
</div>