<div>
	<img class="hero-image" src="https://placekitten.com/g/1000/500">
</div>
<div class="container">
	<div class="row">
		<div class="approach-page col-sm-10 col-sm-offset-1 text-center" >
			<div class="section" ng-repeat="approach in approachSections"> 
				<div class="row">
					<div class="section-info col-sm-4 text-left">
						<h1>{{approach.title}}</h1>
						<p class="section-text">{{approach.description}}</p>
						<button class="btn btn-large btn-success section-button">{{approach.buttonText}}</button>
					</div>
					<div class="col-sm-8">
						<img class="card-image" ng-src="{{approach.cardImage}}">
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>