<div class="container">
	<div class="row">
		<div class="homepage col-sm-10 col-sm-offset-1 text-center" >
			<div class="card-container" ng-repeat="homepageCard in homepageCards"> 
				<div class="card">
					<img class="card-image" ng-src="{{homepageCard.cardImage}}">
					<div class="card-info" style="background-color: {{homepageCard.cardColour}}">
						<h1>{{homepageCard.title}}</h1>
						<p>{{homepageCard.description}}</p>
						<button ng-click="this.go(homepageCard.buttonNav)" class="btn btn-large btn-success">{{homepageCard.buttonText}}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>