.people-page .card-container,
.homepage .card-container{
	max-height: 400px;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
	background-color: #eee;
}
.card-image{
	width: 100%;
	height: 100%;
}
.card-info{
	
	top: 0;
	position: absolute;
	width: 100%;
	padding: 135px 0px;
}
.container{
	margin-top: 50px;
}
.hero-image{
	width: 100%;
	height: 400px;
}
.approach-page .section{
	margin: 10px 0px;
	background-color: #eee;
}
.approach-page .section .row .section-info{
	padding: 1% 30px;
}
.section-text{
	margin: 15% 0px;
}
.section-button{
	margin: 10% 0px;
}
.case-studies-page .section,
.method-page .section{
	display: inline-block;
	width: 300px;
	height: 300px;
	padding: 5px;
}
.case-studies-page .section-info,
.method-page .section-info{
	height: 75px;
	width: 100%;
    bottom: 75px;
}
.navbar-brand{
	cursor:pointer;
}