<div class="container">
	<div class="row">
		<div class="people-page col-sm-10 col-sm-offset-1 text-center" >
			<div class="card-container" ng-repeat="peopleCard in peopleCards"> 
				<div class="card">
					<img class="card-image" ng-src="{{peopleCard.cardImage}}">
					<div class="card-info" style="background-color: {{peopleCard.cardColour}}">
						<h1>{{peopleCard.title}}</h1>
						<p>{{peopleCard.description}}</p>
						<button ng-click="this.go(peopleCard.buttonNav)" class="btn btn-large btn-success">{{peopleCard.buttonText}}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>