<div>
	<img class="hero-image" src="https://placekitten.com/g/1000/500">
</div>
<div class="container">
		<div class="case-studies-page col-sm-12 text-center" >
			<div class="section" ng-repeat="study in studies" > 
				<img class="card-image" ng-src="{{study.cardImage}}">
				<div class="section-info col-sm-4 text-left" style="background-color: {{study.cardColour}}">
					<h4>{{study.title}}</h4>
					<h5>{{study.region}}</h5>
				</div>
			</div>	
		</div>

</div>